<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Homepage</h1>
      <p>Hey guys, this is just the barebones website so far. I'm not sure what kind of design we'd eventually want to implement. Feel free to make any changes, just make sure you do them on a separate branch (not the master branch).</p>
    </div>
  </div>
</div>